<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :Nombre %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :Apellido %>
    <%= form.text_field :surname %>
  </div>

  <div class="field">
    <%= form.label :DNI %>
    <%= form.text_field :dni %>
  </div>

  <div class="field">
    <%= form.label :Edad %>
    <%= form.text_field :age %>
  </div>

  <div class="field">
    <%= form.label :Direccion %>
    <%= form.text_field :address %>
  </div>

  <div class="field">
    <%= form.label :Telefono %>
    <%= form.text_field :phone %>
  </div>

  <div class="field">
    <%= form.label :Celular %>
    <%= form.text_field :mobile %>
  </div>

  <div class="field">
    <%= form.label :Sintomas %>
    <%= form.text_field :symptom %>
  </div>

  <div class="field">
    <%= form.label :Nacionalidad %>
    <%= form.text_field :nationality %>
  </div>

  <div class="field">
    <%= form.label :Grupo_Familiar %>
    <%= form.text_field :family_group %>
  </div>

  <div class="field">
    <%= form.label :Pais_de_Procedencia %>
    <%= form.text_field :country_from %>
  </div>

  <div class="field">
    <%= form.label :Tiempo_de_Permanencia %>
    <%= form.text_field :residence_time %>
  </div>

  <div class="field">
    <%= form.label :Enfermedad %>
    <%= form.text_field :disease %>
  </div>

  <div class="field">
    <%= form.label :Tipo_de_Paciente %>
    <%= form.text_field :patient_type %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>

<%=f.submit'CARGAR',:class => 'btn btn-primary',:style => "color:white; font-weight:bold;"%>

<% end %>
