<p id="notice"><%= notice %></p>

<h1>Usuario</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>DNI</th>
      <th>Edad</th>
      <th>Direccion</th>
      <th>Telefono</th>
      <th>Celular</th>
      <th>Sintomas</th>
      <th>Nacionalidad</th>
      <th>Grupo Familiar</th>
      <th>Pais del que procede</th>
      <th>Tiempo de permanencia</th>
      <th>Enfermedad</th>
      <th>Tipo de paciente</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.surname %></td>
        <td><%= user.dni %></td>
        <td><%= user.age %></td>
        <td><%= user.address %></td>
        <td><%= user.phone %></td>
        <td><%= user.mobile %></td>
        <td><%= user.symptom %></td>
        <td><%= user.nationality %></td>
        <td><%= user.family_group %></td>
        <td><%= user.country_from %></td>
        <td><%= user.residence_time %></td>
        <td><%= user.disease %></td>
        <td><%= user.patient_type %></td>
        <td><%= link_to 'Mostrar', user %></td>
        <td><%= link_to 'Editar', edit_user_path(user) %></td>
        <td><%= link_to 'Destruir', user, method: :delete, data: { confirm: 'Esta usted seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo Usuario', new_user_path %>
