<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Apellido:</strong>
  <%= @user.surname %>
</p>

<p>
  <strong>DNI:</strong>
  <%= @user.dni %>
</p>

<p>
  <strong>Edad:</strong>
  <%= @user.age %>
</p>

<p>
  <strong>Direccion:</strong>
  <%= @user.address %>
</p>

<p>
  <strong>Telefono:</strong>
  <%= @user.phone %>
</p>

<p>
  <strong>Celular:</strong>
  <%= @user.mobile %>
</p>

<p>
  <strong>Sintomas:</strong>
  <%= @user.symptom %>
</p>

<p>
  <strong>Nacionalidad:</strong>
  <%= @user.nationality %>
</p>

<p>
  <strong>Parentesco Familiar:</strong>
  <%= @user.family_group %>
</p>

<p>
  <strong>Pais del que provine:</strong>
  <%= @user.country_from %>
</p>

<p>
  <strong>Tiempo de permanencia:</strong>
  <%= @user.residence_time %>
</p>

<p>
  <strong>Enfermedad:</strong>
  <%= @user.disease %>
</p>

<p>
  <strong>Tipo de paciente:</strong>
  <%= @user.patient_type %>
</p>

<%= link_to 'Editar', edit_user_path(@user) %> |
<%= link_to 'Retroceder', users_path %>
